/* Modal overlay */
.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
  
  /* Modal container */
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    color: black !important; /* Add this line to set text color to black */
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.circle-button {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes the button circular */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  font-size: 16px;
  border: none; /* Remove button border */
  cursor: pointer;
  margin: 10px; /* Add some spacing between the buttons */
  outline: none; /* Remove the default focus outline */
}

.circle-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}


/* Add this to your Main.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: linear-gradient(135deg, #2E2E2E 0%, #1E1E1E 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

/* Additional styles for form elements */
.modal-content label {
  color: white;
  margin-bottom: 5px;
}

.modal-content select,
.modal-content textarea,
.modal-content button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
