@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* logo color #0A87BA */

*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.desktop{
  display: none;
}
.mobile{
  display: flex;
}

.lp-main{
  background: url('./assets/black-background-black-cat-wallpaper.jpg');
  background-size: cover; 
  background-position:center; 
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
}

/* Media query to hide elements with the .mobile class on desktop screens */
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}